## Summary
This dataset contains the results of health inspections conducted by the Department of Public Health from 2024 to Present. It includes the name and location of each facility inspected, the facility status (Pass, Conditional Pass, or Closure) after the inspection, and violations observed.

## Description of our dataset
* **inspection_date** (Floating Timestamp): Date and time when the inspection occurred.
* **inspector** (Text): Name of the inspector who conducted the inspection.
* **district** (Text): District in which the inspection took place.
* **subdistrict** (Text): Sub-district where the inspection was performed.
* **subsector** (Text): Specific sub-sector of the inspection area.
* **permit_number** (Text): Permit number associated with the facility, if applicable.
* **dba** (Text): “Doing Business As” name of the facility. Public trade name of the establishment.
* **permit_type** (Text): Type of permit held by the facility.
* **street_address** (Text): Street address of the facility.
* **street_address_clean** (Text): Cleaned and standardized street address.
* **inspection_type** (Text): Type/category of the inspection conducted.
* **inspection_frequency_type** (Text): Frequency classification of inspections.
* **total_time** (Number): Total duration of the inspection in minutes.
* **facility_rating_status** (Text): Rating status of the facility after inspection.
* **census** (Text): Census information linked to the facility location.
* **suspension_notes** (Text): Notes regarding any permit suspensions.
* **inspection_notes** (Text): Additional notes recorded during the inspection.
* **violation_count** (Number): Total number of violations observed.
* **violation_codes** (Text): Codes corresponding to the observed violations.
* **latitude** (Number): Latitude coordinate of the facility.
* **longitude** (Number): Longitude coordinate of the facility.
* **point** (Point): Geospatial point combining latitude and longitude.
* **analysis_neighborhood** (Text): Neighborhood used for analysis purposes.
* **supervisor_district** (Number): Supervisor district number for administrative purposes.
* **data_as_of** (Floating Timestamp): Date when the dataset was last updated in the source system.
* **data_loaded_at** (Floating Timestamp): Timestamp when the data was uploaded to the open data portal.

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

# from sklearn.preprocessing import StandardScaler

# from sklearn.linear_model import LogisticRegression
# from sklearn.neighbors import KNeighborsClassifier 
# from sklearn.ensemble import RandomForestClassifier,BaggingClassifier
# from sklearn.tree import DecisionTreeClassifier
# from xgboost import XGBClassifier

# from sklearn.model_selection import train_test_split, GridSearchCV, StratifiedShuffleSplit, cross_validate
# from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, precision_recall_curve, f1_score,roc_auc_score, roc_curve, precision_recall_fscore_support
# from sklearn.inspection import PartialDependenceDisplay
# from sklearn import tree

# from treeinterpreter import treeinterpreter
# from waterfall_chart import plot as waterfall

# from imblearn.over_sampling import SMOTE,ADASYN,RandomOverSampler,BorderlineSMOTE,SVMSMOTE
# from imblearn.under_sampling import RandomUnderSampler

In [2]:
pd.set_option('display.max_columns',200)
pd.set_option('display.max_rows',200)
pd.set_option('display.max_colwidth',200)

In [3]:
# os.getcwd()
df_org = pd.read_csv("../data/clean/sfData_cleaned.csv")

In [4]:
df_org

,inspection_date,inspector,district,subdistrict,subsector,permit_number,dba,permit_type,street_address,street_address_clean,inspection_type,inspection_frequency_type,total_time,facility_rating_status,census,suspension_notes,inspection_notes,violation_count,violation_codes,latitude,longitude,point,analysis_neighborhood,supervisor_district,data_as_of,data_loaded_at,canonical_address
0,2025-04-23,Michael Mooney,1,103,607,06734928,Surfside - Walk Thru,H36 - STADIUM CONCESSIONS (PERM),24 WILLIE MAYS PLZ # PROMEN,3RD ST & KING ST,Routine,1,10,Pass,STADIUM,NaN,NaN,NaN,NaN,37.778130,-122.391855,POINT (-122.391855 37.77813),Mission Bay,6.0,2025-07-01 10:09:15,2025-10-30 02:37:07,3rd street king street
1,2025-04-23,Michael Mooney,2,201,106,06735187,HARBOR EMPEROR,H33 - COMMISSARIES,41 EMBARCADERO,41 EMBARCADERO,Routine,2,60,Conditional Pass,106,NaN,NaN,4.0,"113953(c), 114163(a)(3), 114189, 114192.1, 114195, 114279 - Immediately provide hot running potable water of at least 120Â°F or greater for the entire food preparation facility., 113953, 113953.1,...",37.787126,-122.387925,POINT (-122.387924588 37.787126305),Financial District/South Beach,6.0,2025-07-01 10:09:15,2025-10-30 02:37:07,41 embarcadero
2,2025-04-23,Patrick Wood,1,101,176A,06743776,RA @ BLOOMBERG FLOOR 22,H85 - EMPLOYEE CAFETERIA LIMITED FOOD PREP,140 NEW MONTGOMERY ST FL 22,140 NEW MONTGOMERY ST,New Ownership (I),1,30,Pass,176A,NaN,NaN,NaN,NaN,37.786617,-122.400018,POINT (-122.400018 37.786617),Financial District/South Beach,6.0,2025-07-01 10:09:15,2025-10-30 02:37:07,140 new montgomery street
3,2025-04-23,Rochelle Veloso,5,502,401,102419,MOKUKU,"H26 - RESTAURANT OVER 2,000 SQFT",332 CLEMENT ST,332 CLEMENT ST,Site Visit,2,30,Pass,401,NaN,NaN,NaN,NaN,37.783269,-122.462932,POINT (-122.4629325 37.783269),Inner Richmond,1.0,2025-07-01 10:09:15,2025-10-30 02:37:07,332 clement street
4,2025-04-23,Sojeatta Khim,1,103,607,06734548,STEEP CREAMERY & TEA - SECTION 110,H36 - STADIUM CONCESSIONS (PERM),24 WILLIE MAYS PLZ,3RD ST & KING ST,Routine,1,10,Pass,STADIUM,NaN,NaN,NaN,NaN,37.778130,-122.391855,POINT (-122.391855 37.77813),Mission Bay,6.0,2025-07-01 10:09:15,2025-10-30 02:37:07,3rd street king street
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19051,2025-10-29,Michael Mooney,4,404,164,87648,NaN,"H25 - RESTAURANT 1,000 - 2,000 SQFT",762 DIVISADERO,762 DIVISADERO,NaN,1,45,NaN,NaN,NaN,NaN,6.0,"113947.1-113947.6, 113948 - Obtain a state approved food safety certification course within 60 days of operation or when a Food Safety Manager has left the facility. Maintain copies of food safety...",37.776511,-122.438032,POINT (-122.438031803 37.776511475),Hayes Valley,5.0,2025-10-30 02:00:05,2025-10-30 02:37:07,762 divisadero
19052,2024-10-29,Amy Johnson,No District,No Sub District,No Sub Sector,102395,PIZZALICIOUS LLC,"H24 - RESTAURANT UNDER 1,000 SQFT",1210 POLK E ST,1210 POLK E ST,Routine,1,75,Pass,167,NaN,NaN,7.0,"114143(d), 114266, 114268, 114268.1, 114271, 114272 - Provide walls / ceilings using materials that are durable, smooth, nonabsorbent, light-colored, and washable surfaces. All floor surfaces, oth...",NaN,NaN,NaN,NaN,NaN,2025-07-01 10:09:15,2025-10-30 02:37:07,1210 polk e street
19053,2024-09-19,Danny Nguyen,2,202,179T,06733434,DA BOOT TO DA BAY,H79 - MOBILE FOOD FACILITY CLASS 5,900 AVENUE ST BLDG D,900 AVENUE ST BLDG D,Reinspection,1,20,Pass,MFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-07-01 10:09:15,2025-10-30 02:37:07,900 avenue street bldg d
19054,2024-08-19,Michael Mooney,No District,No Sub District,No Sub Sector,H0306732464,MV ARGO,H07 - RETAIL MKTS W/FOOD PREP (UNDER 5001),PIER FISHERMANS WHARF PIER,PIER FISHERMANS WHARF PIER,Routine,1,25,Pass,106,NaN,NaN,2.0,"113953, 113953.1, 113953.2, 114067(f) - Provide soap and single-use towels in dispensers, or a drying device at each handwash sink at all times. Maintain all handwash sinks unobstructed and access...",NaN,NaN,NaN,NaN,NaN,2025-07-01 10:09:15,2025-10-30 02:37:07,pier fishermans wharf pier
19055,2024-08-09,Danny Nguyen,No District,No Sub District,No Sub Sector,90213,SENOR SISIG,H79 - MOBILE FOOD FACILITY CLASS 5,1 MOBILE CATERERS,1 MOBILE CATERERS,Routine,1,70,Pass,MFF-3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-07-01 10:09:15,2025-10-30 02:37:07,1 mobile caterers

In [5]:
df_org.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19056 entries, 0 to 19055
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   inspection_date            19056 non-null  object
 1   inspector                  19056 non-null  object
 2   district                   19054 non-null  object
 3   subdistrict                19042 non-null  object
 4   subsector                  19035 non-null  object
 5   permit_number              19038 non-null  object
 6   dba                        18148 non-null  object
 7   permit_type                19056 non-null  object
 8   street_address             19056 non-null  object
 9   street_address_clean       19056 non-null  object
 10  inspection_type            16673 non-null  object
 11  inspection_frequency_type  18319 non-null  object
 12  total_time                 18980 non-null  object
 13  facility_rating_status     16533 non-null  object
 14  census                     17622 non-null  object
 15  suspension_notes           0 non-null      float64
 16  inspection_notes           0 non-null      float64
 17  violation_count            10184 non-null  float64
 18  violation_codes            10184 non-null  object
 19  latitude                   18919 non-null  float64
 20  longitude                  18919 non-null  float64
 21  point                      18919 non-null  object
 22  analysis_neighborhood      18874 non-null  object
 23  supervisor_district        18874 non-null  float64
 24  data_as_of                 19056 non-null  object
 25  data_loaded_at             19056 non-null  object
 26  canonical_address          19056 non-null  object
dtypes: float64(6), object(21)
memory usage: 3.9+ MB

In [6]:
df_org.describe(include='all')

,inspection_date,inspector,district,subdistrict,subsector,permit_number,dba,permit_type,street_address,street_address_clean,inspection_type,inspection_frequency_type,total_time,facility_rating_status,census,suspension_notes,inspection_notes,violation_count,violation_codes,latitude,longitude,point,analysis_neighborhood,supervisor_district,data_as_of,data_loaded_at,canonical_address
count,19056,19056,19054,19042,19035,19038,18148,19056,19056,19056,16673,18319,18980,16533,17622,0.0,0.0,10184.000000,10184,18919.000000,18919.000000,18919,18874,18874.000000,19056,19056,19056
unique,483,52,8,41,160,8102,6857,70,6813,6332,14,3,204,3,164,NaN,NaN,NaN,6416,NaN,NaN,5096,41,NaN,88,1,5871
top,2025-04-23,Michael Mooney,2,103,607,18306,BON APPETIT MANAGEMENT CO,"H25 - RESTAURANT 1,000 - 2,000 SQFT",49 S Van Ness Ave 7th Floor,3RD ST & KING ST,Routine,2,60,Pass,607,NaN,NaN,NaN,"114259, 114259.1, 114259.4, 114259.5 - Eliminate the infestation/activity of cockroaches/rodents/flies/vermin from the food facility by using only approved methods. Remove all evidence of the infe...",NaN,NaN,POINT (-122.391855 37.77813),Mission,NaN,2025-07-01 10:09:15,2025-10-30 02:37:07,3rd street king street
freq,197,1180,4268,1345,958,41,42,4269,207,243,9268,10487,3740,15575,553,NaN,NaN,NaN,291,NaN,NaN,243,2583,NaN,18148,19056,243
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.053712,NaN,37.772371,-122.423539,NaN,NaN,5.529194,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.315183,NaN,0.036910,0.042882,NaN,NaN,2.688655,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,33.761824,-122.510677,NaN,NaN,1.000000,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,37.760283,-122.434290,NaN,NaN,3.000000,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,NaN,37.777527,-122.416182,NaN,NaN,6.000000,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000,NaN,37.788984,-122.405220,NaN,NaN,8.000000,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.000000,NaN,38.030647,-118.138815,NaN,NaN,11.000000,NaN,NaN,NaN

In [7]:
df_org['facility_rating_status'].value_counts(normalize=True)*100

facility_rating_status
Pass                94.205528
Conditional Pass     3.477893
Closure              2.316579
Name: proportion, dtype: float64

In [8]:
# Lets check values in the dataset.
for i in df_org.columns:
    print(i,df_org[i].unique())

inspection_date ['2025-04-23' '2025-04-22' '2025-04-21' '2025-04-18' '2025-04-17'
 '2025-04-16' '2025-04-15' '2025-04-14' '2025-04-11' '2025-04-10'
 '2025-04-09' '2025-04-08' '2025-04-07' '2025-04-04' '2025-04-03'
 '2025-04-02' '2025-04-01' '2025-05-06' '2025-03-31' '2025-03-28'
 '2025-03-27' '2025-03-26' '2025-03-25' '2025-03-24' '2025-03-21'
 '2025-03-20' '2025-03-19' '2025-03-18' '2025-03-17' '2025-03-14'
 '2025-03-13' '2025-03-12' '2025-03-11' '2025-03-10' '2025-03-07'
 '2025-03-06' '2025-03-05' '2025-03-04' '2025-03-03' '2025-02-28'
 '2025-02-27' '2025-02-26' '2025-02-25' '2025-02-24' '2025-02-21'
 '2025-02-20' '2025-02-19' '2025-02-18' '2025-02-14' '2025-02-13'
 '2025-02-12' '2025-02-11' '2025-02-10' '2025-02-07' '2025-02-06'
 '2025-02-05' '2025-02-04' '2025-02-03' '2025-01-31' '2025-01-30'
 '2025-01-29' '2025-01-28' '2025-01-27' '2025-01-24' '2025-01-23'
 '2025-01-22' '2025-01-21' '2025-01-17' '2025-01-16' '2025-01-15'
 '2025-01-14' '2025-01-13' '2025-01-11' '2025-01-10' '2025-01-09'
 '2025-01-08' '2025-01-07' '2025-01-06' '2025-01-03' '2025-01-02'
 '2024-12-31' '2024-12-30' '2024-12-27' '2024-12-26' '2024-12-24'
 '2024-12-23' '2024-12-20' '2024-12-19' '2024-12-18' '2024-12-17'
 '2024-12-16' '2024-12-13' '2024-12-12' '2024-12-11' '2024-12-10'
 '2024-12-09' '2024-12-06' '2024-12-05' '2024-12-04' '2024-12-03'
 '2024-12-02' '2024-11-27' '2024-11-26' '2024-11-25' '2024-11-22'
 '2024-11-21' '2024-11-20' '2025-07-15' '2024-11-19' '2024-11-18'
 '2024-11-15' '2024-11-14' '2024-11-13' '2024-11-12' '2024-11-08'
 '2024-11-07' '2024-11-06' '2024-11-05' '2024-11-04' '2024-11-01'
 '2024-10-31' '2024-10-30' '2024-10-29' '2024-10-28' '2024-10-25'
 '2024-10-24' '2024-10-23' '2024-10-22' '2024-10-21' '2024-10-18'
 '2024-10-17' '2024-10-16' '2024-10-15' '2024-10-11' '2024-10-10'
 '2024-10-09' '2025-07-16' '2024-10-08' '2024-10-07' '2024-10-04'
 '2024-10-03' '2024-10-02' '2024-10-01' '2024-09-30' '2024-09-27'
 '2024-09-26' '2024-09-25' '2024-09-24' '2024-09-23' '2024-09-20'
 '2024-09-19' '2024-09-18' '2024-09-17' '2024-09-16' '2024-09-13'
 '2024-09-12' '2024-09-11' '2024-09-10' '2024-09-09' '2024-09-06'
 '2024-09-05' '2024-09-04' '2024-09-03' '2024-08-30' '2024-08-29'
 '2024-08-28' '2024-08-27' '2024-08-26' '2024-08-23' '2024-08-22'
 '2024-08-21' '2024-08-20' '2024-08-19' '2024-08-16' '2024-08-15'
 '2024-08-14' '2024-08-13' '2024-08-12' '2024-08-09' '2024-08-08'
 '2024-08-07' '2024-08-06' '2024-08-05' '2024-08-02' '2024-08-01'
 '2024-07-31' '2024-07-30' '2024-07-29' '2024-07-26' '2024-07-25'
 '2024-07-24' '2024-07-23' '2024-07-22' '2024-07-19' '2024-07-18'
 '2024-07-17' '2025-07-17' '2024-07-16' '2024-07-15' '2024-07-12'
 '2024-07-11' '2024-07-10' '2024-07-09' '2024-07-08' '2024-07-05'
 '2024-07-03' '2024-07-02' '2024-07-01' '2024-06-28' '2024-06-27'
 '2024-06-26' '2024-06-25' '2024-06-24' '2024-06-23' '2024-06-22'
 '2024-06-21' '2024-06-20' '2024-06-18' '2024-06-17' '2024-06-15'
 '2024-06-14' '2024-06-13' '2024-06-12' '2024-06-11' '2024-06-10'
 '2024-06-09' '2024-06-07' '2024-06-06' '2024-06-05' '2024-06-04'
 '2024-06-03' '2024-06-02' '2024-05-31' '2024-05-30' '2024-05-29'
 '2024-05-28' '2024-05-26' '2024-05-24' '2024-05-23' '2024-05-22'
 '2024-05-21' '2024-05-20' '2024-05-19' '2024-05-18' '2024-05-17'
 '2024-05-16' '2024-05-15' '2024-05-14' '2024-05-13' '2024-05-10'
 '2024-05-09' '2025-07-18' '2024-05-08' '2024-05-07' '2024-05-06'
 '2024-05-03' '2024-05-02' '2024-05-01' '2024-04-30' '2024-04-29'
 '2024-04-26' '2024-04-25' '2024-04-24' '2024-04-23' '2024-04-22'
 '2024-04-19' '2024-04-18' '2024-04-27' '2024-04-17' '2024-04-16'
 '2024-04-15' '2024-04-12' '2024-04-11' '2024-04-10' '2024-04-09'
 '2024-04-08' '2024-04-05' '2024-04-04' '2024-04-03' '2024-04-02'
 '2024-04-01' '2024-03-29' '2024-03-28' '2024-03-27' '2024-03-26'
 '2024-03-25' '2024-03-22' '2024-03-21' '2024-03-20' '2024-03-19'
 '2024-03-18' '2024-03-15' '2024-03-14' '2024-03-13' '2024-03-12'
 '2024-03-11' '2024-03-08' '2024-03-07' '2024-03-06' '2024-03-05'
 '2024-03-04' '2024-03-01' '2024-02-29' '2024-02-28' '2024-02-27'
 '2024-02-26' '2024-02-23' '2024-02-22' '2024-02-21' '2024-02-20'
 '2024-02-16' '2024-02-15' '2024-02-14' '2024-02-13' '2024-02-12'
 '2024-02-09' '2024-02-08' '2024-02-07' '2024-02-06' '2024-02-05'
 '2024-02-02' '2024-02-01' '2024-01-31' '2024-01-30' '2024-01-29'
 '2024-01-26' '2024-01-25' '2024-01-24' '2024-01-23' '2024-01-22'
 '2024-01-19' '2024-01-18' '2024-01-17' '2024-01-16' '2024-01-12'
 '2024-01-11' '2024-01-10' '2024-01-09' '2024-01-08' '2024-01-05'
 '2024-01-04' '2024-01-03' '2024-01-02' '2025-07-22' '2025-07-23'
 '2025-07-24' '2025-07-25' '2025-07-29' '2025-07-30' '2025-07-31'
 '2025-08-05' '2025-08-06' '2025-08-07' '2025-08-12' '2025-08-11'
 '2025-08-13' '2025-08-14' '2025-08-15' '2025-08-19' '2025-08-20'
 '2025-08-21' '2025-08-22' '2025-08-26' '2025-08-27' '2025-08-28'
 '2025-08-29' '2025-09-02' '2025-09-03' '2025-09-04' '2025-09-09'
 '2025-09-08' '2025-09-10' '2025-09-11' '2025-09-12' '2025-09-16'
 '2025-09-17' '2025-09-22' '2025-09-23' '2025-09-24' '2025-09-25'
 '2025-09-26' '2025-09-30' '2025-10-01' '2025-10-02' '2025-10-06'
 '2025-10-07' '2025-10-08' '2025-10-09' '2025-10-10' '2025-10-14'
 '2025-10-15' '2025-10-16' '2025-10-21' '2025-10-22' '2025-10-24'
 '2025-10-23' '2025-10-27' '2025-10-29' '2025-05-12' '2025-07-14'
 '2024-10-12' '2025-05-27' '2025-08-04' '2025-08-18' '2025-09-15'
 '2025-09-19' '2025-09-29' '2025-10-03' '2025-10-17' '2025-05-08'
 '2024-02-03' '2025-04-19' '2025-05-14' '2025-05-01' '2024-07-13'
 '2024-02-24' '2025-08-08' '2025-09-18' '2025-10-20' '2025-08-25'
 '2025-10-28' '2025-06-24' '2025-06-26' '2025-06-25' '2025-06-27'
 '2025-06-30' '2025-07-01' '2025-07-02' '2025-07-03' '2025-07-07'
 '2025-07-08' '2025-07-09' '2025-07-10' '2025-06-23' '2025-06-21'
 '2025-06-20' '2025-06-18' '2025-06-17' '2025-06-16' '2025-06-14'
 '2025-06-13' '2025-06-12' '2025-06-11' '2025-06-10' '2025-06-09'
 '2025-06-08' '2025-06-07' '2025-06-06' '2025-06-05' '2025-06-04'
 '2025-06-03' '2025-06-02' '2025-06-01' '2025-05-31' '2025-05-30'
 '2025-05-29' '2025-07-11' '2025-05-28' '2025-05-25' '2025-05-23'
 '2025-05-22' '2025-05-21' '2025-05-20' '2025-05-19' '2025-05-18'
 '2025-05-16' '2025-05-15' '2025-05-13' '2025-05-09' '2025-05-07'
 '2025-05-05' '2025-05-02' '2025-04-30' '2025-04-29' '2025-04-28'
 '2025-04-25' '2025-04-24' '2025-03-09' '2025-02-08' '2025-07-28'
 '2025-08-01' '2025-04-12' '2025-02-23']
inspector ['Michael Mooney' 'Patrick Wood' 'Rochelle Veloso' 'Sojeatta Khim'
 'Sophia Huie' 'Tiombe Wiley' 'William Bajjalieh' 'Zack Parsons'
 'Alyssa  Manzano' 'Amy Johnson' 'Christina Lee' 'Ivy Phan' 'John  Wells'
 'Katie Dea' 'Luz Brown' 'Roy Bwogi' 'Jesus Zapien' 'Maribel Rodriguez'
 'Cristina Fung-Autry' 'Kristine Der' 'Abel Simon' 'Amelia Castelli'
 'Joanna Huber' 'Albert Felipe' 'Carlos Barragan' 'Jessica Jang'
 'Sharon Aguila-Leonard' 'Danny Lee' 'Kyle Chan' 'Farhan Khan' 'Aron Wong'
 'Danny Nguyen' 'Philips Ossai' 'Douglas Obana' 'Japjit Deol'
 'Sandy  Chan' 'Genesis  Del Rio' 'Mary Joanne Freitas' 'Larry Kessler'
 'Maureen Garrison' 'Kevin  Eng' 'John Castelli' 'Oneida Romero'
 'Katherine Tuazon' 'Carolyn Lam' 'Mary Freschet' 'Arthur Duque'
 'Montre  Tieu' 'Allan Pera' 'Usman Javaid' 'Jenine Liwanag' 'Nhi Tu']
district ['1' '2' '5' '4' '3' 'No District' '1201' nan '12']
subdistrict ['103' '201' '101' '502' '505' '512' '203' '404' '209' '408' '208' '304'
 '104' '204' '402' '309' 'No Sub District' '307' '506' '206' '210' '202'
 '501' '302' '503' '305' '107' '102' '106' '407' '401' '303' '108' '306'
 '406' '105' '403' '301' '405' '410' nan '1203']
subsector ['607' '106' '176A' '401' '328' '308' '107A' '169' '118' '130' '123' '177'
 '609' '227' '117A' '124' '251' 'No Sub Sector' '176B' '310' '332' '304'
 '232' '116' '111' '125B' '101' '103' '115' '110' '208' '603' '180' '451'
 '302' '354' '201' '229' '117B' '427' '121' '114A' '179' '114B' '327'
 '257' '122' '215' '233' '107B' '157' '206' '176C' '152' '159' '125A'
 '228B' '478' '209' '164' '329' '154' '166' '162' '309' '207' '163' '104'
 '155' '113' '226' '133' '479' '303' '108' '167' '253' '262' '126' '202'
 '178' '254' '264' '230' '301' '326' '179T' '426' '214' '476' '351' '128'
 '402' '311' '203' '211' '313' '161' '213' '255' '252' '261' '999A' '228A'
 '153' '306' '452' '165' '205' '158' '129' '331' '120' '151' '102' '131'
 '160' '234' '218' '170' '204' '135' '353' '608' '352' '109' '477' '168'
 '330' '263' '610' '212' '127' '132' '112' '604' '260' '231' '312' '171'
 '105' '314' '305' '256' '258' '119' 'CATERER' 'CFO-B' 'CFO-A' '210' '156'
 '216' '134' '605' 'SUMMER' nan '259' '602' '428' '307' '217']
permit_number ['06734928' '06735187' '06743776' ... '23715' '102395' 'H0306732464']
dba ['Surfside - Walk Thru' 'HARBOR EMPEROR' 'RA @ BLOOMBERG FLOOR 22' ...
 'GINZA JAPANESE RESTAURANT' 'Salem Market' 'MV ARGO']
permit_type ['H36 - STADIUM CONCESSIONS (PERM)' 'H33 - COMMISSARIES'
 'H85 - EMPLOYEE CAFETERIA LIMITED FOOD PREP'
 'H26 - RESTAURANT OVER 2,000 SQFT'
 'H90 - SCHOOL CAFETERIAS (PRIVATE W/O FOOD PREP)'
 'H25 - RESTAURANT 1,000 - 2,000 SQFT' 'H24 - RESTAURANT UNDER 1,000 SQFT'
 'H67 - MASSAGE ESTABLISHMENT' 'H31 - TOBACCO SALES - ANNUAL LICENSE FEE'
 'H28 - TAKE-OUTS' 'H79 - MOBILE FOOD FACILITY CLASS 5'
 'H14 - CERTIFIED FARMERS MARKETS'
 'H07 - RETAIL MKTS W/FOOD PREP (UNDER 5001)'
 'H101 - Community Event Food Vendor - Low Hazard'
 'H09 - RETAIL MKTS W/FOOD PREP (5001 - 10000)'
 'H03 - RETAIL MKTS W/O PREP (UNDER 5001)'
 'H86 - BARS/TAVERNS W/O FOOD PREP'
 'PUBLIC SCHOOL CAFETERIA WITH FOOD PREP'
 'H91 - SCHOOL CAFETERIAS (PRIVATE W/FOOD PREP)'
 'H34 - PUSHCARTS (RETAIL FOOD VEHICLE)'
 'H81 - SUPERMARKETS W/4+ FOOD PREP'
 'H06 - RETAIL MKTS W/O PREP (OVER 20000)'
 'H08 - RETAIL MKTS W/FOOD PREP (10001 - 20000)' 'H29 - FAST FOOD OUTLETS'
 'H04 - RETAIL MKTS W/O PREP (5001 - 10000)'
 'H84 - EMPLOYEE CAFETERIAS W/FOOD PREP'
 'H88 - RETAIL BAKERIES WITH FOOD PREP'
 'H78 - MOBILE FOOD FACILITY CLASS 4'
 'H23 - FOOD PREP AND SERVICE (FEE EXEMPT)'
 'J07 - CATERING FACILITY â\x80\x93 NO COOKING'
 'H77 - MOBILE FOOD FACILITY CLASS 3' 'H76 - MOBILE FOOD FACILITY CLASS 2'
 'J01 - TATTOO & PIERCING FACILITIES'
 'H46 - AUTOMATIC LAUNDRY - FACILITIES'
 'H99 - COTTAGE FOOD OPERATIONS - TIER B (INDIRECT SALES)'
 'J11 - SHARED KITCHEN COMPLEX, LESS THAN 2,000 SQ. FT.'
 'H102 - Community Event Food Vendor - High Hazard'
 'H87 - BARS/TAVERNS W/FOOD PREP' 'H42 - PET SHOP - OVERNIGHT'
 'H61 - VENDING MACHINES - COMPANIES' 'H74 - CATERER'
 'H05 - RETAIL MKTS W/O PREP (10001 - 20000)'
 'H98 - COTTAGE FOOD OPERATIONS - TIER A (DIRECT SALES)'
 'H83 - SUPERMARKETS GREATER THAN 20,000 SQFT W/1 FOOD PREP'
 'H21 - WHOLESALE FOOD MARKETS' 'H43 - PET HOSPITAL - OVERNIGHT'
 'H44 - DOG KENNEL - OVERNIGHT' 'H40 - HOSPITAL KITCHENS'
 'H56 - SWIMMING POOLS (YEAR-ROUND)' 'Summer Meals'
 'H70 - SOLO MASSAGE ESTABLISHMENT' 'Snack/Supper'
 'J12 - SHARED KITCHEN COMPLEX, GREATER THAN 2,000 SQ. FT.'
 'H89 - RETAIL BAKERIES W/O FOOD PREP' 'H30 - CATERING FACILITIES'
 'H48 - WASH LAUNDRIES' 'H68 - GENERAL MASSAGE PRACTITIONER'
 'Limited Service Charitable Feeding Operation' 'Senior Nutrition Center'
 'H69 - OUTCALL MASSAGE SERVICE' 'Child and Adult Care Food Program'
 'H75 - MOBILE FOOD FACILITY CLASS 1' 'H15 - WHOLESALE FOOD MARKETS'
 'H80 - SUPERMARKETS W/2-3 FOOD PREP' 'H37 - BED AND BREAKFAST'
 'J10 - HOST FACILITY' 'J09 - COOKING SCHOOL'
 'J06 - SKILLED NURSING FACILITIES' 'H22 - FOOD MANUFACTURING/PROCESSING'
 'J08 - COMMISSARY FOR MFF SERVICING']
street_address ['24 WILLIE MAYS PLZ # PROMEN' '41 EMBARCADERO'
 '140 NEW MONTGOMERY ST FL 22' ... '2020   LOMBARD ST' '762   DIVISADERO'
 '1210 POLK E ST']

street_address_clean ['3RD ST & KING ST' '41 EMBARCADERO' '140 NEW MONTGOMERY ST' ...
 '2020   LOMBARD ST' '762   DIVISADERO' '1210 POLK E ST']
inspection_type ['Routine' 'New Ownership (I)' 'Site Visit' 'Reinspection'
 'New Ownership (R)' nan 'Plan Check (I)' 'Complaint (I)' 'Plan Check (R)'
 'Foodborne Illness' 'Structural' 'Complaint (R)' 'Change of Ownership'
 'Plan Check' 'Consultation']
inspection_frequency_type ['1' '2' nan 'High Hazard']
total_time ['10' '60' '30' '15' '150' '120' '45' '105' '35' '90' '25' '55' '95' '40'
 '80' '20' '75' '50' '140' '85' '65' '70' '100' '110' '-660' '180' '130'
 '-690' '91' '135' '19' '7' '42' '4' '11' '23' '-630' '59' '-645' nan '47'
 '5' '44' '165' '61' '250' '-680' '-705' '38' '0' '138' '-695' '210'
 '-615' '765' '115' '-631' '155' '330' '185' '750' '145' '735' '125' '740'
 '-30' '34' '245' '810' '225' '270' '53' '74' '240' '220' '62' '865' '79'
 '215' '-585' '78' '-650' '108' '780' '37' '29' '-652' '41' '-710' '101'
 '8' '-675' '48' '-570' '58' '-461' '160' '31' '43' '195' '143' '24' '14'
 '89' '66' '46' '57' '178' '729' '9' '12' '63' '73' '67' '72' '-620' '49'
 '6' '134' '114' '-665' '27' '13' '16' '900' '-307' '170' '52' '117'
 '-640' '21' '-540' '-555' '28' '-625' '200' '17' '88' '87' '-655' '-600'
 '-110' '-635' '71' '1' '64' '68' '22' '-590' '33' '18' '32' '-670' '315'
 '-15' '260' '770' '131' '81' '151' '285' '127' '26' '141' '-700' '84'
 '77' '128' '730' '190' '-360' '795' '-120' '205' '86' '121' '56' '-1,320'
 '113' '-707' '774' '650' '776' '-610' '-641' '-550' '51' '133' '116' '54'
 '107' '-580' '728' '76' '745' '825' '421' '-60' '752' '-70' '840' '83'
 '790' '94' '-90']
facility_rating_status ['Pass' 'Conditional Pass' nan 'Closure']
census ['STADIUM' '106' '176A' '401' '328' '308' '107A' '169' '118' '130' '123'
 '177' '609' '227' '117A' '124' '251' '176B' '310' '332' '607' '304' nan
 '111' '101' '125B' '103' '115' '110' 'TFF-A' '207' '603' '116' '180'
 '451' '226' '302' '354' '201' '229' '117B' '427' '121' '114A' '179'
 '114B' '327' '215' '233' '107B' '157' '206' '152' '159' '125A' '228B'
 '478' '209' '164' 'MFF' '154' 'MFF-2' '166' 'MFF-3' '162' '208' '309'
 '163' '257' '104' '155' '113' '133' '479' '176C' '303' '108' '167' '253'
 '262' '202' '178' '254' '230' '122' '426' '214' '476' '351' '128' '402'
 '326' '203' '210' '313' '161' '311' '255' '252' 'CFO-B' '261' '228A'
 '153' '306' '126' '452' '165' '205' '158' '329' '232' '129' '331' '120'
 '151' '102' 'RFV' '131' '160' '234' '301' '218' '170' '204' '135' '353'
 'CATERER' '608' '352' '109' '477' 'CFO-A' '168' '211' '330' '263' '610'
 '212' '264' '127' '132' '112' '604' '260' '231' '171' '105' '314'
 'SUMMER' '256' 'CFM' '258' '213' '179T' '119' '156' '216' '312' '134'
 'COMM' '259' '602' '605' '428' '307']
suspension_notes [nan]
inspection_notes [nan]
violation_count [nan  4.  1.  5.  2.  9.  3.  7. 24.  8. 17.  6. 10. 13. 23. 14. 18. 12.
 11. 19. 20. 15. 22. 16. 26. 21. 28.]
violation_codes [nan
 '113953(c), 114163(a)(3), 114189, 114192.1, 114195, 114279 - Immediately provide hot running potable water of at least 120Â°F or greater for the entire food preparation facility., 113953, 113953.1, 113953.2, 114067(f) - Provide soap and single-use towels in dispensers, or a drying device at each handwash sink at all times. Maintain all handwash sinks unobstructed and accessible at all times., 114115 (b,c) - Maintain nonfood contact surfaces clean. Thoroughly clean and degrease the cooking equipment and shelves above cooking equipment., 113984(d), 114097, 114099.1, 114099.4, 114099.6, 114101(b, c, d), 114105, 114109, 114111, 114113, 11415 (a, b, D), 114117, 114125(b), 114141 - Properly wash, rinse and sanitize all food contact surfaces. Make a 100 ppm bleach sanitizing solution or a 200 ppm quaternary ammonia solution for the third compartment.'
 '113953(c), 114163(a)(3), 114189, 114192.1, 114195, 114279 - Immediately provide hot running potable water of at least 120Â°F or greater for the entire food preparation facility.'
 ...
 '113984(d), 114097, 114099.1, 114099.4, 114099.6, 114101(b, c, d), 114105, 114109, 114111, 114113, 11415 (a, b, D), 114117, 114125(b), 114141 - Properly wash, rinse and sanitize all food contact surfaces. Make a 100 ppm bleach sanitizing solution or a 200 ppm quaternary ammonia solution for the third compartment., 114259, 114259.1, 114259.4, 114259.5 - Eliminate the infestation/activity of cockroaches/rodents/flies/vermin from the food facility by using only approved methods. Remove all evidence of the infestation and thoroughly clean and sanitize all affected surfaces. Construct, equip, maintain and operate the food facility so as to prevent the entrance and harborage of animals, birds and vermin including, but not limited to, rodents and insects., 114012, 114093 - Provide "Consumer Advisory" using DISCLOSURE (*) and a REMINDER: "Consuming raw or undercooked meats, poultry, seafood, shellfish, or eggs may increase your risk of foodborne illness, especially if you have certain medical conditions" for ready-to-eat foods.,  - Submit additional documents as instructed., 113952, 113953.3, 113953.4, 113961, 113973 - Properly wash hands with hand soap and warm water for a minimum of 10 seconds at the hand washing station when beginning work; before handling food/equipment/utensils; as often as necessary during food preparation to remove soil and contamination; switching from working with raw to ready-to-eat foods; after touching body parts; after using toilet room; contamination of hands occurs. Food employees shall minimize contact with exposed, ready-to-eat food with their bare hands and shall use suitable utensils, gloves, or dispensing equipment.'
 '113947.1-113947.6, 113948 - Obtain a state approved food safety certification course within 60 days of operation or when a Food Safety Manager has left the facility. Maintain copies of food safety certificates (food safety manager and food handler cards) on site., 113953, 113953.1, 113953.2, 114067(f) - Provide soap and single-use towels in dispensers, or a drying device at each handwash sink at all times. Maintain all handwash sinks unobstructed and accessible at all times., 113984(d), 114097, 114099.1, 114099.4, 114099.6, 114101(b, c, d), 114105, 114109, 114111, 114113, 11415 (a, b, D), 114117, 114125(b), 114141 - Properly wash, rinse and sanitize all food contact surfaces. Make a 100 ppm bleach sanitizing solution or a 200 ppm quaternary ammonia solution for the third compartment., 113953(c), 114163(a)(3), 114189, 114192.1, 114195, 114279 - Immediately provide hot running potable water of at least 120Â°F or greater for the entire food preparation facility., 114143(d), 114266, 114268, 114268.1, 114271, 114272 - Provide walls / ceilings using materials that are durable, smooth, nonabsorbent, light-colored, and washable surfaces. All floor surfaces, other than the customer service areas, shall be approved, smooth, durable, and made of nonabsorbent material that is easily cleanable. Approved base coving shall be provided in all areas, except customer service areas and where food is stored in original unopened containers. Food facilities shall be fully enclosed. All food facilities shall be kept clean and in good repair., 114130-114130.5, 114132, 114133, 114137, 114139, 114153, 114163, 114165, 114167, 114169, 114175, 114177, 114180, 114182 - Ensure all equipment is approved, properly installed, clean, and maintained in good repair. Ensure all appliances are NSF-approved, commercial grade, durable, and easily cleanable.'
 '114143(d), 114266, 114268, 114268.1, 114271, 114272 - Provide walls / ceilings using materials that are durable, smooth, nonabsorbent, light-colored, and washable surfaces. All floor surfaces, other than the customer service areas, shall be approved, smooth, durable, and made of nonabsorbent material that is easily cleanable. Approved base coving shall be provided in all areas, except customer service areas and where food is stored in original unopened containers. Food facilities shall be fully enclosed. All food facilities shall be kept clean and in good repair., 114135, 114185.1 114185.3 [d-e] - Store wiping cloths used to wipe service counters, scales, or other surfaces that may come into contact with food in clean water with sanitizer or use only once; separate sanitizing containers shall be provided for wiping cloths used with raw animal foods., 113947.1-113947.6, 113948 - Obtain a state approved food safety certification course within 60 days of operation or when a Food Safety Manager has left the facility. Maintain copies of food safety certificates (food safety manager and food handler cards) on site., 113953, 113953.1, 113953.2, 114067(f) - Provide soap and single-use towels in dispensers, or a drying device at each handwash sink at all times. Maintain all handwash sinks unobstructed and accessible at all times., 114000 - Label all potentially hazardous foods for use with Time as a Public Health Control implementation with the date and discard time. The discard time shall be 4 hours after food preparation has begun or after removing from proper temperature controls of 41Â°F or 135Â°F. Discard potentially hazardous foods, under Time as a Public Health Control, when 4 hours have elapsed. Obtain written approval for Time as Public Health Control from San Francisco Environmental Health., 114381 [e], 114381(a), 114387 - Make available the most recent routine inspection report. Post the Health Permit to Operate and restaurant license certificate in a conspicuous area for public view., 113984(d), 114097, 114099.1, 114099.4, 114099.6, 114101(b, c, d), 114105, 114109, 114111, 114113, 11415 (a, b, D), 114117, 114125(b), 114141 - Properly wash, rinse and sanitize all food contact surfaces. Make a 100 ppm bleach sanitizing solution or a 200 ppm quaternary ammonia solution for the third compartment.']
latitude [37.77813    37.78712631 37.786617   ... 37.79754076 37.788795
 37.767141  ]
longitude [-122.391855   -122.38792459 -122.400018   ... -122.40593489 -122.4004365
 -122.453001  ]
point ['POINT (-122.391855 37.77813)' 'POINT (-122.387924588 37.787126305)'
 'POINT (-122.400018 37.786617)' ... 'POINT (-122.405934894 37.797540761)'
 'POINT (-122.4004365 37.788795)' 'POINT (-122.453001 37.767141)']
analysis_neighborhood ['Mission Bay' 'Financial District/South Beach' 'Inner Richmond'
 'Sunset/Parkside' 'West of Twin Peaks' 'Chinatown' 'Castro/Upper Market'
 'Marina' 'Tenderloin' 'Mission' 'Bayview Hunters Point' 'Potrero Hill'
 'Bernal Heights' 'North Beach' 'South of Market' 'Lakeshore' 'Nob Hill'
 'Russian Hill' 'Golden Gate Park' 'Inner Sunset' 'Outer Richmond'
 'Noe Valley' 'Lone Mountain/USF' 'Treasure Island' 'Pacific Heights'
 'Western Addition' 'Hayes Valley' 'Presidio Heights' 'Haight Ashbury' nan
 'Portola' 'Japantown' 'Excelsior' 'Visitacion Valley'
 'Oceanview/Merced/Ingleside' 'Glen Park' 'Outer Mission' 'Twin Peaks'
 'Presidio' 'McLaren Park' 'Lincoln Park' 'Seacliff']
supervisor_district [ 6.  1.  4.  7.  3.  8.  2. 10.  5.  9. nan 11.]
data_as_of ['2025-07-01 10:09:15' '2025-07-16 02:00:08' '2025-07-17 02:00:11'
 '2025-07-21 09:36:18' '2025-07-19 02:00:09' '2025-07-23 09:41:47'
 '2025-07-24 02:00:09' '2025-07-25 02:00:08' '2025-07-26 02:00:09'
 '2025-07-30 11:11:23' '2025-07-31 09:19:33' '2025-08-01 02:00:08'
 '2025-08-06 09:27:48' '2025-08-07 09:36:21' '2025-08-19 08:57:57'
 '2025-08-13 02:00:08' '2025-08-14 02:00:08' '2025-08-19 09:13:54'
 '2025-08-19 09:23:09' '2025-09-02 09:16:22' '2025-09-02 09:24:09'
 '2025-09-02 09:20:54' '2025-08-23 02:00:08' '2025-08-25 02:00:08'
 '2025-08-27 02:00:09' '2025-08-28 02:00:09' '2025-08-29 02:00:03'
 '2025-08-30 02:00:06' '2025-09-17 16:48:45' '2025-09-04 02:00:07'
 '2025-09-05 02:00:08' '2025-09-10 02:00:06' '2025-09-17 16:58:03'
 '2025-09-12 02:00:06' '2025-09-13 02:00:06' '2025-09-17 17:02:31'
 '2025-09-18 02:00:07' '2025-09-30 11:46:28' '2025-09-24 02:00:07'
 '2025-09-25 02:00:07' '2025-09-26 02:00:06' '2025-09-27 02:00:06'
 '2025-10-01 02:00:05' '2025-10-02 02:00:04' '2025-10-03 02:00:06'
 '2025-10-07 02:00:06' '2025-10-08 02:00:06' '2025-10-09 02:00:05'
 '2025-10-10 02:00:07' '2025-10-11 02:00:07' '2025-10-15 02:00:07'
 '2025-10-16 02:00:04' '2025-10-17 02:00:07' '2025-10-22 02:00:06'
 '2025-10-23 02:00:06' '2025-10-25 02:00:05' '2025-10-24 02:00:06'
 '2025-10-28 02:00:04' '2025-10-30 02:00:05' '2025-07-15 02:00:09'
 '2025-08-05 02:00:10' '2025-08-19 02:00:11' '2025-09-09 02:00:04'
 '2025-09-16 02:00:07' '2025-09-20 02:00:05' '2025-09-30 02:00:05'
 '2025-10-04 02:00:05' '2025-10-18 02:00:03' '2025-08-02 02:00:08'
 '2025-08-09 02:00:08' '2025-09-30 11:42:06' '2025-10-21 02:00:04'
 '2025-08-12 02:00:09' '2025-08-26 02:00:07' '2025-09-29 13:02:28'
 '2025-10-29 02:00:05' '2025-06-27 02:00:10' '2025-06-26 11:57:37'
 '2025-06-28 02:00:09' '2025-07-01 02:00:09' '2025-07-02 02:00:09'
 '2025-07-03 02:00:10' '2025-07-04 02:00:09' '2025-07-08 02:00:09'
 '2025-07-11 13:20:44' '2025-07-10 02:00:09' '2025-07-11 02:00:09'
 '2025-07-12 02:00:08']
data_loaded_at ['2025-10-30 02:37:07']
canonical_address ['3rd street king street' '41 embarcadero' '140 new montgomery street' ...
 '55 2nd street' '800 stanyan street' '1210 polk e street']

In [9]:
# Total time has -ve values

In [8]:
#Let'see the percentage of null values
(df_org.isnull().sum()).sort_values(ascending=False)/len(df_org)

inspection_notes             1.000000
suspension_notes             1.000000
violation_codes              0.465575
violation_count              0.465575
facility_rating_status       0.132399
inspection_type              0.125052
census                       0.075252
dba                          0.047649
inspection_frequency_type    0.038675
analysis_neighborhood        0.009551
supervisor_district          0.009551
longitude                    0.007189
point                        0.007189
latitude                     0.007189
total_time                   0.003988
subsector                    0.001102
permit_number                0.000945
subdistrict                  0.000735
district                     0.000105
street_address_clean         0.000000
street_address               0.000000
permit_type                  0.000000
inspector                    0.000000
inspection_date              0.000000
data_as_of                   0.000000
data_loaded_at               0.000000
canonical_address            0.000000
dtype: float64

In [9]:
# 'suspension_notes' and 'inspection_notes' has 100% of null values. So we can just drop it.
df_org = df_org.drop(['suspension_notes','inspection_notes'],axis=1)

In [10]:
df_org.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19056 entries, 0 to 19055
Data columns (total 25 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   inspection_date            19056 non-null  object
 1   inspector                  19056 non-null  object
 2   district                   19054 non-null  object
 3   subdistrict                19042 non-null  object
 4   subsector                  19035 non-null  object
 5   permit_number              19038 non-null  object
 6   dba                        18148 non-null  object
 7   permit_type                19056 non-null  object
 8   street_address             19056 non-null  object
 9   street_address_clean       19056 non-null  object
 10  inspection_type            16673 non-null  object
 11  inspection_frequency_type  18319 non-null  object
 12  total_time                 18980 non-null  object
 13  facility_rating_status     16533 non-null  object
 14  census                     17622 non-null  object
 15  violation_count            10184 non-null  float64
 16  violation_codes            10184 non-null  object
 17  latitude                   18919 non-null  float64
 18  longitude                  18919 non-null  float64
 19  point                      18919 non-null  object
 20  analysis_neighborhood      18874 non-null  object
 21  supervisor_district        18874 non-null  float64
 22  data_as_of                 19056 non-null  object
 23  data_loaded_at             19056 non-null  object
 24  canonical_address          19056 non-null  object
dtypes: float64(4), object(21)
memory usage: 3.6+ MB

In [11]:
#Compare street_address and street_address_clean to see if we can drop one.
df_org[['street_address','street_address_clean']].head(100)

                 street_address         street_address_clean
0   24 WILLIE MAYS PLZ # PROMEN             3RD ST & KING ST
1                41 EMBARCADERO               41 EMBARCADERO
2   140 NEW MONTGOMERY ST FL 22        140 NEW MONTGOMERY ST
3                332 CLEMENT ST               332 CLEMENT ST
4            24 WILLIE MAYS PLZ             3RD ST & KING ST
5   24 WILLIE MAYS PLZ # PROMEN             3RD ST & KING ST
6   24 WILLIE MAYS PLZ # VIEW L             3RD ST & KING ST
7   24 WILLIE MAYS PLZ # # 5319             3RD ST & KING ST
8   24 WILLIE MAYS PLZ # VIEW L             3RD ST & KING ST
9                1201 ORTEGA ST               1201 ORTEGA ST
10           272 CLAREMONT BLVD           272 CLAREMONT BLVD
11   24 WILLIE MAYS PLZ # FIELD             3RD ST & KING ST
12                 674 BROADWAY                 674 BROADWAY
13                136 CHURCH ST                136 CHURCH ST
14            827 SACRAMENTO ST            827 SACRAMENTO ST
15                2055 UNION ST                2055 UNION ST
16                  599 POST ST                  599 POST ST
17               1601 HOWARD ST               1601 HOWARD ST
18  49 S Van Ness Ave 7th Floor  49 S VAN NESS AVE 7TH FLOOR
19                601 GRANT AVE                601 GRANT AVE
20                  3801 3RD ST                  3801 3RD ST
21       317 CONNECTICUT STREET       317 CONNECTICUT STREET
22                356 KEARNY ST                356 KEARNY ST
23                 717 ELLIS ST                 717 ELLIS ST
24           340 BAY SHORE BLVD           340 BAY SHORE BLVD
25                      PIER 39   THE EMBARCADERO & BEACH ST
26       1355 MARKET ST STE 100               1355 MARKET ST
27               221 SANSOME ST               221 SANSOME ST
28                613 FAXON AVE                613 FAXON AVE
29                 595 GEARY ST                 595 GEARY ST
30        3251 20TH AVE STE 221                3251 20TH AVE
31                  227 KING ST                  227 KING ST
32               490 TARAVAL ST               490 TARAVAL ST
33                103 HORNE AVE                103 HORNE AVE
34          1 FERRY BUILDING 50  THE EMBARCADERO & MARKET ST
35                 1639 POLK ST                 1639 POLK ST
36  49 S Van Ness Ave 7th Floor  49 S VAN NESS AVE 7TH FLOOR
37                  294 TURK ST                  294 TURK ST
38                 580 BEACH ST                 580 BEACH ST
39            1018 COLUMBUS AVE            1018 COLUMBUS AVE
40                  3750 3RD ST                  3750 3RD ST
41    500 WASHINGTON ST STE 102            500 WASHINGTON ST
42            1906 VAN NESS AVE            1906 VAN NESS AVE
43               1182 MARKET ST               1182 MARKET ST
44             1050 VALENCIA ST             1050 VALENCIA ST
45        55 Music Concourse DR        55 MUSIC CONCOURSE DR
46      1 FERRY BUILDING STE 31  THE EMBARCADERO & MARKET ST
47                 360 RITCH ST                 360 RITCH ST
48              3931 GEARY BLVD              3931 GEARY BLVD
49  49 S Van Ness Ave 7th Floor  49 S VAN NESS AVE 7TH FLOOR
50           16 WEST PORTAL AVE           16 WEST PORTAL AVE
51                 1243 9TH AVE                 1243 9TH AVE
52        242 COLUMBUS AVE BLDG        242 COLUMBUS AVE BLDG
53              2560 SLOAT BLVD              2560 SLOAT BLVD
54            303 SACRAMENTO ST            303 SACRAMENTO ST
55                136 CHURCH ST                136 CHURCH ST
56               1540 OCEAN AVE               1540 OCEAN AVE
57                 222 MASON ST                 222 MASON ST
58                 360 RITCH ST                 360 RITCH ST
59                 3065 16TH ST                 3065 16TH ST
60                 2962 24TH ST                 2962 24TH ST
61                 1695 POLK ST                 1695 POLK ST
62                 1243 9TH AVE                 1243 9TH AVE
63          3801 3RD ST STE 310                  3801 3RD ST
64                  101 POST ST                  101 POST ST
65              2435 CLEMENT ST              2435 CLEMENT ST
66               1800 FOLSOM ST               1800 FOLSOM ST
67                  39 PIER 213                  39 PIER 213
68                679 SUTTER ST                679 SUTTER ST
69                3251 20TH AVE                3251 20TH AVE
70           15 WALTER U LUM PL           15 WALTER U LUM PL
71                 337 JONES ST                 337 JONES ST
72               84 BARTLETT ST               84 BARTLETT ST
73                 3033 24TH ST                 3033 24TH ST
74                715 IRVING ST                715 IRVING ST
75           24 WEST PORTAL AVE           24 WEST PORTAL AVE
76          1 FERRY BUILDING 50  THE EMBARCADERO & MARKET ST
77                211 KEARNY ST                211 KEARNY ST
78                120 FOLSOM ST                120 FOLSOM ST
79                  294 TURK ST                  294 TURK ST
80                   451 9TH ST                   451 9TH ST
81            834 WASHINGTON ST            834 WASHINGTON ST
82               1639 IRVING ST               1639 IRVING ST
83                1570 31ST AVE                1570 31ST AVE
84             1555 MARIPOSA ST             1555 MARIPOSA ST
85                147 FULTON ST                147 FULTON ST
86                  614 PINE ST                  614 PINE ST
87                   222 2ND ST                   222 2ND ST
88          390 GOLDEN GATE AVE          390 GOLDEN GATE AVE
89                 601 GEARY ST                 601 GEARY ST
90             716 O'FARRELL ST             716 O'FARRELL ST
91              1599 SANCHEZ ST              1599 SANCHEZ ST
92             1306 STOCKTON ST             1306 STOCKTON ST
93            1730 YOSEMITE AVE            1730 YOSEMITE AVE
94               729 VALLEJO ST               729 VALLEJO ST
95              1439 TARAVAL ST              1439 TARAVAL ST
96          1 FERRY BUILDING 50  THE EMBARCADERO & MARKET ST
97                441 SUTTER ST                441 SUTTER ST
98               1750 FULTON ST               1750 FULTON ST
99             1750 HARRISON ST             1750 HARRISON ST

In [12]:
# Compare the two columns element-wise
matches = df_org['street_address'] == df_org['street_address_clean']

# Sum the True values to count how many rows match exactly
num_matches = matches.sum()

# Sum the False values to count how many rows do not match
num_non_matches = (~matches).sum()

print("Number of exact matches:", num_matches)
print("Number of non-matches:", num_non_matches)

Number of exact matches: 16321
Number of non-matches: 2735

In [15]:
# It is almost the same, 16k rows matches the cleaned street adress so we will remove street_address 
# and street_adress_cleaned.

In [13]:
# Removing unwanted columns such as 'data_as_of' and 'data_loaded_at' and 'street_adress'
df_org = df_org.drop(['data_as_of','data_loaded_at','street_address', 'street_address_clean'],axis=1)

In [14]:
df_org.head()

,inspection_date,inspector,district,subdistrict,subsector,permit_number,dba,permit_type,inspection_type,inspection_frequency_type,total_time,facility_rating_status,census,violation_count,violation_codes,latitude,longitude,point,analysis_neighborhood,supervisor_district,canonical_address
0,2025-04-23,Michael Mooney,1,103,607,06734928,Surfside - Walk Thru,H36 - STADIUM CONCESSIONS (PERM),Routine,1,10,Pass,STADIUM,NaN,NaN,37.778130,-122.391855,POINT (-122.391855 37.77813),Mission Bay,6.0,3rd street king street
1,2025-04-23,Michael Mooney,2,201,106,06735187,HARBOR EMPEROR,H33 - COMMISSARIES,Routine,2,60,Conditional Pass,106,4.0,"113953(c), 114163(a)(3), 114189, 114192.1, 114195, 114279 - Immediately provide hot running potable water of at least 120Â°F or greater for the entire food preparation facility., 113953, 113953.1,...",37.787126,-122.387925,POINT (-122.387924588 37.787126305),Financial District/South Beach,6.0,41 embarcadero
2,2025-04-23,Patrick Wood,1,101,176A,06743776,RA @ BLOOMBERG FLOOR 22,H85 - EMPLOYEE CAFETERIA LIMITED FOOD PREP,New Ownership (I),1,30,Pass,176A,NaN,NaN,37.786617,-122.400018,POINT (-122.400018 37.786617),Financial District/South Beach,6.0,140 new montgomery street
3,2025-04-23,Rochelle Veloso,5,502,401,102419,MOKUKU,"H26 - RESTAURANT OVER 2,000 SQFT",Site Visit,2,30,Pass,401,NaN,NaN,37.783269,-122.462932,POINT (-122.4629325 37.783269),Inner Richmond,1.0,332 clement street
4,2025-04-23,Sojeatta Khim,1,103,607,06734548,STEEP CREAMERY & TEA - SECTION 110,H36 - STADIUM CONCESSIONS (PERM),Routine,1,10,Pass,STADIUM,NaN,NaN,37.778130,-122.391855,POINT (-122.391855 37.77813),Mission Bay,6.0,3rd street king street

In [15]:
df_org.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19056 entries, 0 to 19055
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   inspection_date            19056 non-null  object
 1   inspector                  19056 non-null  object
 2   district                   19054 non-null  object
 3   subdistrict                19042 non-null  object
 4   subsector                  19035 non-null  object
 5   permit_number              19038 non-null  object
 6   dba                        18148 non-null  object
 7   permit_type                19056 non-null  object
 8   inspection_type            16673 non-null  object
 9   inspection_frequency_type  18319 non-null  object
 10  total_time                 18980 non-null  object
 11  facility_rating_status     16533 non-null  object
 12  census                     17622 non-null  object
 13  violation_count            10184 non-null  float64
 14  violation_codes            10184 non-null  object
 15  latitude                   18919 non-null  float64
 16  longitude                  18919 non-null  float64
 17  point                      18919 non-null  object
 18  analysis_neighborhood      18874 non-null  object
 19  supervisor_district        18874 non-null  float64
 20  canonical_address          19056 non-null  object
dtypes: float64(4), object(17)
memory usage: 3.1+ MB

'district','subdistrict','subsector','permit_number','dba', 'inspection_type', 'inspection_frequency_type', 'total_time',
'facility_rating_status', 'census', 'violation_count', 'violation_codes', 'latitude', 'longitude', 'point', 'analysis_neighborhood'
'supervisor_district'

In [19]:
# Target variable facility_rating_status has null values. We will drop those rows. Imputing them and 
# predicting that partial truth does not make sense

In [16]:
# Drop rows where 'facility_rating_status' is null
df_org = df_org.dropna(subset=['facility_rating_status'])

In [17]:
df_org.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16533 entries, 0 to 19055
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   inspection_date            16533 non-null  object
 1   inspector                  16533 non-null  object
 2   district                   16533 non-null  object
 3   subdistrict                16533 non-null  object
 4   subsector                  16533 non-null  object
 5   permit_number              16530 non-null  object
 6   dba                        16533 non-null  object
 7   permit_type                16533 non-null  object
 8   inspection_type            15138 non-null  object
 9   inspection_frequency_type  16182 non-null  object
 10  total_time                 16480 non-null  object
 11  facility_rating_status     16533 non-null  object
 12  census                     16124 non-null  object
 13  violation_count            9263 non-null   float64
 14  violation_codes            9263 non-null   object
 15  latitude                   16437 non-null  float64
 16  longitude                  16437 non-null  float64
 17  point                      16437 non-null  object
 18  analysis_neighborhood      16415 non-null  object
 19  supervisor_district        16415 non-null  float64
 20  canonical_address          16533 non-null  object
dtypes: float64(4), object(17)
memory usage: 2.8+ MB

In [18]:
#Let'see the percentage of null values
(df_org.isnull().sum()).sort_values(ascending=False)/len(df_org)

violation_codes              0.439727
violation_count              0.439727
inspection_type              0.084377
census                       0.024738
inspection_frequency_type    0.021230
analysis_neighborhood        0.007137
supervisor_district          0.007137
point                        0.005807
longitude                    0.005807
latitude                     0.005807
total_time                   0.003206
permit_number                0.000181
inspection_date              0.000000
subsector                    0.000000
subdistrict                  0.000000
district                     0.000000
inspector                    0.000000
facility_rating_status       0.000000
permit_type                  0.000000
dba                          0.000000
canonical_address            0.000000
dtype: float64

'permit_number', 'inspection_type', 'inspection_frequency_type', 'total_time', 'census', 'violation_count',
'violation_codes', 'latitude', 'longitude', 'point', 'analysis_neighborhood', 'supervisor_district'

In [19]:
#Fix all null values

# Percentage of rows with null violation count that are Pass
null_violation_count_pass = df_org[df_org['violation_count'].isna()]['facility_rating_status'].value_counts(normalize=True) * 100
print(null_violation_count_pass)

# Percentage of rows with null violation codes that are Pass
null_violation_code_pass = df_org[df_org['violation_codes'].isna()]['facility_rating_status'].value_counts(normalize=True) * 100
print(null_violation_code_pass)

facility_rating_status
Pass                99.724897
Conditional Pass     0.165062
Closure              0.110041
Name: proportion, dtype: float64
facility_rating_status
Pass                99.724897
Conditional Pass     0.165062
Closure              0.110041
Name: proportion, dtype: float64

In [24]:
# Since 99% of rows that has null in violation_counts and violation_codes, it makes sense to assume that null here means
# no violation. So, we will impute 0 for all NaN values in violation_counts and an empty string in violation_codes

In [20]:
# Fill nulls in violation_count with 0
df_org['violation_count'] = np.where(df_org['violation_count'].isnull(), 0, df_org['violation_count'])

# Fill nulls in violation_code with empty string
df_org['violation_codes'] = np.where(df_org['violation_codes'].isnull(), '', df_org['violation_codes'])

In [21]:
df_org.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16533 entries, 0 to 19055
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   inspection_date            16533 non-null  object
 1   inspector                  16533 non-null  object
 2   district                   16533 non-null  object
 3   subdistrict                16533 non-null  object
 4   subsector                  16533 non-null  object
 5   permit_number              16530 non-null  object
 6   dba                        16533 non-null  object
 7   permit_type                16533 non-null  object
 8   inspection_type            15138 non-null  object
 9   inspection_frequency_type  16182 non-null  object
 10  total_time                 16480 non-null  object
 11  facility_rating_status     16533 non-null  object
 12  census                     16124 non-null  object
 13  violation_count            16533 non-null  float64
 14  violation_codes            16533 non-null  object
 15  latitude                   16437 non-null  float64
 16  longitude                  16437 non-null  float64
 17  point                      16437 non-null  object
 18  analysis_neighborhood      16415 non-null  object
 19  supervisor_district        16415 non-null  float64
 20  canonical_address          16533 non-null  object
dtypes: float64(4), object(17)
memory usage: 2.8+ MB

In [22]:
#Looking at the percentage of unique values for each column that has null values.
for i in ['permit_number', 'inspection_type', 'inspection_frequency_type', 'total_time', 
          'census', 'latitude', 'longitude', 'point', 'analysis_neighborhood', 'supervisor_district']:
    print(i, df_org[i].value_counts(normalize=True)*100, sep='\n\n')
    print('-'*75)

permit_number

permit_number
105555         0.193587
18306          0.187538
2133           0.120992
06733818       0.114943
H2606732772    0.090744
                 ...
110488         0.006050
83644          0.006050
84321          0.006050
79599          0.006050
FYF119407      0.006050
Name: proportion, Length: 7167, dtype: float64
---------------------------------------------------------------------------
inspection_type

inspection_type
Routine                55.641432
Reinspection           19.447747
New Ownership (I)       7.993130
New Ownership (R)       4.643942
Site Visit              4.564672
Complaint (I)           4.492007
Foodborne Illness       1.770379
Complaint (R)           0.858766
Plan Check (I)          0.277447
Structural              0.178359
Plan Check (R)          0.105694
Plan Check              0.019818
Change of Ownership     0.006606
Name: proportion, dtype: float64
---------------------------------------------------------------------------
inspection_frequency_type

inspection_frequency_type
2              60.480781
1              39.513039
High Hazard     0.006180
Name: proportion, dtype: float64
---------------------------------------------------------------------------
total_time

total_time
60        21.140777
30        16.644417
45        13.410194
15         8.143204
90         6.559466
75         6.498786
120        2.324029
40         2.105583
50         2.002427
105        1.923544
20         1.832524
35         1.632282
70         1.571602
10         1.316748
55         1.201456
25         1.183252
65         1.140777
80         0.970874
85         0.716019
100        0.546117
110        0.540049
135        0.540049
150        0.527913
95         0.521845
5          0.339806
180        0.309466
-660       0.266990
115        0.248786
130        0.175971
125        0.151699
165        0.145631
-690       0.115291
140        0.109223
750        0.103155
145        0.097087
-645       0.097087
-675       0.097087
240        0.097087
-630       0.091019
62         0.078883
-600       0.072816
210        0.066748
155        0.066748
0          0.060680
780        0.054612
46         0.054612
63         0.048544
160        0.042476
810        0.042476
-650       0.042476
6          0.036408
-655       0.036408
17         0.036408
190        0.036408
1          0.036408
27         0.036408
61         0.036408
765        0.036408
7          0.030340
-705       0.030340
67         0.030340
195        0.030340
66         0.030340
170        0.030340
12         0.030340
9          0.030340
29         0.030340
43         0.030340
68         0.030340
740        0.030340
735        0.030340
-570       0.030340
225        0.024272
19         0.024272
91         0.024272
23         0.024272
71         0.024272
16         0.024272
-635       0.024272
101        0.024272
79         0.024272
37         0.024272
52         0.024272
73         0.024272
44         0.024272
-680       0.018204
-615       0.018204
78         0.018204
4          0.018204
58         0.018204
89         0.018204
-700       0.018204
31         0.018204
64         0.018204
-665       0.018204
49         0.018204
-585       0.018204
74         0.018204
-695       0.012136
-30        0.012136
47         0.012136
-580       0.012136
260        0.012136
11         0.012136
32         0.012136
38         0.012136
-620       0.012136
42         0.012136
200        0.012136
87         0.012136
108        0.012136
53         0.012136
76         0.012136
77         0.012136
14         0.012136
24         0.012136
33         0.012136
245        0.006068
-631       0.006068
138        0.006068
250        0.006068
185        0.006068
865        0.006068
220        0.006068
88         0.006068
-555       0.006068
-625       0.006068
-307       0.006068
900        0.006068
117        0.006068
-640       0.006068
-540       0.006068
178        0.006068
72         0.006068
-710       0.006068
-652       0.006068
48         0.006068
41         0.006068
-461       0.006068
143        0.006068
215        0.006068
270        0.006068
770        0.006068
-15        0.006068
81         0.006068
131        0.006068
-590       0.006068
151        0.006068
141        0.006068
28         0.006068
26         0.006068
285        0.006068
-670       0.006068
315        0.006068
18         0.006068
-110       0.006068
13         0.006068
730        0.006068
84         0.006068
128        0.006068
205        0.006068
-360       0.006068
795        0.006068
-120       0.006068
113        0.006068
-707       0.006068
34         0.006068
774        0.006068
650        0.006068
121        0.006068
56         0.006068
-1,320     0.006068
-641       0.006068
-610       0.006068
776        0.006068
-550       0.006068
116        0.006068
133        0.006068
107        0.006068
54         0.006068
745        0.006068
59         0.006068
86         0.006068
825        0.006068
-60        0.006068
-70        0.006068
840        0.006068
83         0.006068
Name: proportion, dtype: float64
---------------------------------------------------------------------------
census

census
607        3.318035
123        3.076160
208        2.778467
302        2.691640
107A       2.201687
124        2.108658
STADIUM    2.059042
106        1.978417
179        1.953610
117A       1.928802
177        1.916398
176A       1.872984
101        1.823369
209        1.717936
116        1.711734
229        1.693128
178        1.407839
202        1.308608
201        1.265195
176C       1.240387
176B       1.234185
128        1.178368
326        1.172166
328        1.147358
115        1.128752
332        1.110146
155        1.041925
122        1.041925
121        1.035723
162        1.023319
180        1.023319
125B       0.992310
226        0.967502
125A       0.936492
168        0.936492
308        0.905483
227        0.893079
113        0.893079
426        0.855867
230        0.831059
228A       0.787646
120        0.781444
254        0.762838
114A       0.750434
152        0.744232
478        0.744232
114B       0.738030
207        0.738030
117B       0.731828
130        0.725626
118        0.713223
609        0.713223
111        0.694617
107B       0.682213
205        0.676011
166        0.669809
329        0.645001
401        0.632597
261        0.632597
203        0.620194
310        0.601588
211        0.595386
SUMMER     0.582982
255        0.570578
257        0.551972
427        0.545770
169        0.539568
228B       0.533366
MFF        0.520963
352        0.502357
110        0.496155
105        0.496155
402        0.465145
159        0.440337
129        0.440337
253        0.434135
164        0.427934
CATERER    0.421732
TFF-A      0.415530
109        0.409328
214        0.403126
479        0.403126
151        0.396924
135        0.396924
MFF-2      0.390722
MFF-3      0.378318
206        0.359712
154        0.347308
126        0.347308
476        0.347308
167        0.341106
157        0.328703
309        0.328703
313        0.322501
353        0.316299
112        0.310097
477        0.310097
102        0.303895
CFM        0.279087
232        0.266683
CFO-B      0.266683
311        0.248077
233        0.248077
231        0.248077
103        0.248077
351        0.241875
158        0.235674
212        0.235674
218        0.235674
301        0.229472
304        0.229472
354        0.217068
165        0.217068
252        0.210866
171        0.204664
331        0.204664
153        0.204664
210        0.198462
CFO-A      0.192260
133        0.186058
163        0.179856
603        0.179856
RFV        0.173654
161        0.167452
451        0.161250
160        0.155048
330        0.155048
251        0.155048
132        0.148846
604        0.148846
262        0.142645
104        0.136443
610        0.136443
263        0.124039
264        0.124039
234        0.117837
260        0.117837
215        0.105433
127        0.105433
216        0.093029
204        0.093029
327        0.086827
179T       0.086827
452        0.086827
312        0.086827
134        0.080625
213        0.080625
608        0.062019
170        0.062019
306        0.055817
303        0.055817
108        0.055817
156        0.055817
314        0.043414
131        0.037212
119        0.037212
602        0.031010
COMM       0.031010
256        0.024808
259        0.018606
428        0.018606
258        0.012404
605        0.006202
307        0.006202
Name: proportion, dtype: float64
---------------------------------------------------------------------------
latitude

latitude
37.778130    1.478372
37.774431    1.259354
37.794935    1.198516
37.728477    0.784815
37.808118    0.529294
               ...
37.766344    0.006084
37.764895    0.006084
37.776429    0.006084
37.781334    0.006084
37.791201    0.006084
Name: proportion, Length: 3655, dtype: float64
---------------------------------------------------------------------------
longitude

longitude
-122.391855    1.478372
-122.418045    1.247186
-122.394265    1.198516
-122.476838    0.784815
-122.409063    0.529294
                 ...
-122.408514    0.006084
-122.480284    0.006084
-122.409351    0.006084
-122.408681    0.006084
-122.436121    0.006084
Name: proportion, Length: 4180, dtype: float64
---------------------------------------------------------------------------
point

point
POINT (-122.391855 37.77813)           1.478372
POINT (-122.418045 37.774431)          1.247186
POINT (-122.394265021 37.794934994)    1.198516
POINT (-122.4768375 37.728477)         0.784815
POINT (-122.409063 37.808118)          0.529294
                                         ...
POINT (-122.42412 37.776123)           0.006084
POINT (-122.4100935 37.781568)         0.006084
POINT (-122.406318 37.794798)          0.006084
POINT (-122.4038565 37.796535)         0.006084
POINT (-122.408514005 37.785728019)    0.006084
Name: proportion, Length: 4738, dtype: float64
---------------------------------------------------------------------------
analysis_neighborhood

analysis_neighborhood
Mission                           14.084679
Financial District/South Beach    10.490405
Tenderloin                         8.047518
Chinatown                          6.311301
Mission Bay                        5.306122
Sunset/Parkside                    5.092903
North Beach                        4.501980
South of Market                    3.941517
Outer Richmond                     3.173926
Nob Hill                           3.131282
Bayview Hunters Point              3.119098
Inner Sunset                       2.948523
Marina                             2.869327
Hayes Valley                       2.650015
Castro/Upper Market                2.321048
West of Twin Peaks                 2.168748
Potrero Hill                       1.955528
Bernal Heights                     1.669205
Pacific Heights                    1.620469
Noe Valley                         1.547365
Inner Richmond                     1.516905
Lakeshore                          1.401157
Western Addition                   1.395065
Russian Hill                       1.346330
Haight Ashbury                     1.254950
Japantown                          1.041730
Excelsior                          0.974718
Oceanview/Merced/Ingleside         0.676211
Outer Mission                      0.657935
Portola                            0.645751
Lone Mountain/USF                  0.633567
Presidio Heights                   0.505635
Glen Park                          0.310691
Treasure Island                    0.213220
Golden Gate Park                   0.188852
Visitacion Valley                  0.176668
Twin Peaks                         0.030460
McLaren Park                       0.024368
Presidio                           0.018276
Lincoln Park                       0.018276
Seacliff                           0.018276
Name: proportion, dtype: float64
---------------------------------------------------------------------------
supervisor_district

supervisor_district
3.0     22.887603
6.0     17.252513
9.0     13.512032
5.0     11.050868
7.0      6.695096
2.0      5.732562
10.0     5.452330
8.0      5.263479
4.0      5.208651
1.0      4.885775
11.0     2.059092
Name: proportion, dtype: float64
---------------------------------------------------------------------------

In [28]:
# inspection_type and inspection_frequency_type has mode. We can just impute null values with the mode for these 2 cols.
# Drop remaining null values since it is very less in number

In [23]:
# 1. impute mode for inspection_type and inspection_frequency_type
for col in ["inspection_type", "inspection_frequency_type"]:
    mode_val = df_org[col].mode(dropna=True)[0]
    df_org[col] = df_org[col].fillna(mode_val)

# 2. drop remaining null rows
df_org = df_org.dropna()

In [24]:
df_org.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15975 entries, 0 to 18943
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   inspection_date            15975 non-null  object
 1   inspector                  15975 non-null  object
 2   district                   15975 non-null  object
 3   subdistrict                15975 non-null  object
 4   subsector                  15975 non-null  object
 5   permit_number              15975 non-null  object
 6   dba                        15975 non-null  object
 7   permit_type                15975 non-null  object
 8   inspection_type            15975 non-null  object
 9   inspection_frequency_type  15975 non-null  object
 10  total_time                 15975 non-null  object
 11  facility_rating_status     15975 non-null  object
 12  census                     15975 non-null  object
 13  violation_count            15975 non-null  float64
 14  violation_codes            15975 non-null  object
 15  latitude                   15975 non-null  float64
 16  longitude                  15975 non-null  float64
 17  point                      15975 non-null  object
 18  analysis_neighborhood      15975 non-null  object
 19  supervisor_district        15975 non-null  float64
 20  canonical_address          15975 non-null  object
dtypes: float64(4), object(17)
memory usage: 2.7+ MB

In [25]:
# Convert date columns to datetime
df_org['inspection_date'] = pd.to_datetime(df_org['inspection_date'], errors='coerce')

# Convert numeric columns
df_org['violation_count'] = pd.to_numeric(df_org['violation_count'], errors='coerce')
df_org['latitude'] = pd.to_numeric(df_org['latitude'], errors='coerce')
df_org['longitude'] = pd.to_numeric(df_org['longitude'], errors='coerce')
df_org['supervisor_district'] = pd.to_numeric(df_org['supervisor_district'], errors='coerce')

# Convert categorical/text columns to string (object)
text_columns = [
    'inspector', 'district', 'subdistrict', 'subsector', 'permit_number', 
    'dba', 'permit_type', 'canonical_address', 'inspection_type',
    'inspection_frequency_type', 'facility_rating_status', 
    'violation_codes', 'analysis_neighborhood'
]
for col in text_columns:
    df_org[col] = df_org[col].astype(str)

In [26]:
df_org.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15975 entries, 0 to 18943
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   inspection_date            15975 non-null  datetime64[ns]
 1   inspector                  15975 non-null  object
 2   district                   15975 non-null  object
 3   subdistrict                15975 non-null  object
 4   subsector                  15975 non-null  object
 5   permit_number              15975 non-null  object
 6   dba                        15975 non-null  object
 7   permit_type                15975 non-null  object
 8   inspection_type            15975 non-null  object
 9   inspection_frequency_type  15975 non-null  object
 10  total_time                 15975 non-null  object
 11  facility_rating_status     15975 non-null  object
 12  census                     15975 non-null  object
 13  violation_count            15975 non-null  float64
 14  violation_codes            15975 non-null  object
 15  latitude                   15975 non-null  float64
 16  longitude                  15975 non-null  float64
 17  point                      15975 non-null  object
 18  analysis_neighborhood      15975 non-null  object
 19  supervisor_district        15975 non-null  float64
 20  canonical_address          15975 non-null  object
dtypes: datetime64[ns](1), float64(4), object(16)
memory usage: 2.7+ MB

In [27]:
negative_rows = df_org[df_org['total_time'].str.startswith('-')]
len(negative_rows)

185

In [34]:
# We have 185 negative values in total_time column

In [28]:
df_org['facility_rating_status'].value_counts(normalize=True)*100

facility_rating_status
Pass                94.084507
Conditional Pass     3.580595
Closure              2.334898
Name: proportion, dtype: float64

## OUTLINE (moving forward):

Total time with negative values

Investigate the cause first. Negative values likely indicate data entry errors, e.g., end time < start time.

Options:

Remove the rows if they are errors.

Take absolute values if negative time is an artifact of computation.

Recompute from start and end times if available.

In [36]:
# FIgure out what negative values in total_time means
# change the dtype
# Remove duplicates and unnecessary columns 
# Visualize and analyse the data 
# ( Feature Engineering )
#Modelling

In [29]:
df = df_org

In [32]:
# Ensure date field is datetime
df["inspection_date"] = pd.to_datetime(df["inspection_date"], errors="coerce")

# Convert violation_count to numeric (if not already)
df["violation_count"] = pd.to_numeric(df["violation_count"], errors="coerce").fillna(0)

# Normalize facility_rating_status for trend calculation
df["rating_binary"] = df["facility_rating_status"].map({
    "Pass": 1,
    "Conditional Pass": 0.5,
    "Closure": 0,
    "": np.nan,
    None: np.nan
})

# Sort data properly
df = df.sort_values(["permit_number", "inspection_date"])

In [33]:
df["avg_violations_last_3"] = (
    df.groupby("permit_number")["violation_count"]
          .rolling(3, min_periods=1)
          .mean()
          .reset_index(level=0, drop=True)
)

In [34]:
df["fail_flag"] = df["facility_rating_status"].isin(["Closure", "Fail"]).astype(int)

df["fail_rate_last_3"] = (
    df.groupby("permit_number")["fail_flag"]
          .rolling(3, min_periods=1)
          .mean()
          .reset_index(level=0, drop=True)
)

In [35]:
df["prev_inspection_date"] = (
    df.groupby("permit_number")["inspection_date"].shift(1)
)

df["days_since_last_inspection"] = (
    (df["inspection_date"] - df["prev_inspection_date"]).dt.days
)

# First inspection for each restaurant will be NaN → fill with a neutral value or median later

In [36]:
def compute_trend(group):
    ratings = group["rating_binary"].rolling(3, min_periods=2).apply(
        lambda x: np.polyfit(range(len(x)), x, 1)[0]  # slope of line
    )
    return ratings

df["trend_last_3"] = df.groupby("permit_number", group_keys=False).apply(compute_trend)

In [38]:
df["facility_rating_status"].value_counts(dropna=False)

facility_rating_status
Pass                15030
Conditional Pass      572
Closure               373
Name: count, dtype: int64

In [38]:
#Saving the cleaned Dataset

In [37]:
df.to_csv('../data/clean/AddedFeatures.csv', index=False)